<div class="container">


  <div class="login-content">
    <div class="login-actions">
      <div class="name-login">
        <h1>Pet Show</h1>
        <h4>Os pets brinlham aqui</h4>

      </div>

      <img class="img-logo" src="../../../assets/img/logo.jpg" alt="logo">

      <div class="input-container">



      </div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput>
      </mat-form-field><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput type="password">
      </mat-form-field>
      <button mat-flat-button color="primary"  routerLink="/home">Entrar</button>

    </div>


  </div>


</div>
